.card3 {
  color: #1b1b1b;
  width: 400px;
  height: 520px;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  background: #ff930f;
  background-blend-mode: multiply;
  background: linear-gradient(to top, #ff930f, #ffcc33);
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.card-front3 {
  bottom: 16px;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card-back3 {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Text*/
.title3 {
  font-size: 1.3rem;
  font-weight: bold;
}
/*Text divider*/
.title3::after {
  content: "";
  display: block;
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #1b1b1b;
}

/*Hover*/
.card3:hover {
  background-color: #1b1b1b25;
}

.card3:hover .card-front3 {
  transform: translateX(-100%);
}

.card3:hover .card-back3 {
  transform: translateX(0);
}

@media (max-width: 900px) {
  .card3 {
    width: auto;
  }
}

@media (max-width: 700px) {
  .card3 {
    width: auto;
    height: 630px;
  }

  .card3 img {
    height: 540px;
  }
}
