.carda {
    position: relative;
    overflow: hidden;
    height: 300px; /* Adjust as necessary */
  }
  
  .carda::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .card-content1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .carda:hover::before {
    opacity: 1;
  }
  
  .carda:hover .card-content1 {
    opacity: 1;
    transform: translateY(0);
  }

  .gradient-text {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Pink to Orange gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Courier New', monospace; /* Change to your preferred font family */
    font-size: 1.5rem; /* Adjust the font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out;
  }
  