/* Ensure the image covers the entire section */
section.relative {
    position: relative;
    overflow: hidden;
  }
  
  section.relative img.object-cover {
    height: 70vh; /* Adjust the height to your preference */
  }
  
  section.relative h1 {
    z-index: 10; /* Ensure the title is above the image */
  }
  
  .relative .max-w-7xl {
    margin-top: 70vh; /* Adjust the margin to push the content below the image */
  }

  .text-gradient {
    background-image: linear-gradient(to right, #f11616, #f014d2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.2rem; /* Adjust the font size as needed */
  font-family: 'Roboto', sans-serif; /* Change the font family */
  }

  /* styles.css */

/* styles.css */

.border-gradient-blue {
    border-width: 15px; /* Adjust border width as needed */
    border-style: solid;
    border-image: linear-gradient(to right, #6ecb18, #0c367e);
    border-image-slice: 1;
    background:
      linear-gradient(to right, #6a11cb, #2575fc),
      radial-gradient(circle at left bottom, brinjal, transparent 50%),
      radial-gradient(circle at right top, parrot green, transparent 50%);
    background-size: 100% 100%, auto, auto;
    background-repeat: no-repeat;
    background-origin: border-box;
  }

  .text-gradient-purple {
    background-image: linear-gradient(to right, #db1616, #2575fc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  
